*{
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none !important;
}

.file-img{
  background-size: cover;
  width: auto;
  max-width: 100%;
  max-height: 140px;
}

.img-container{
  height: 148px;
}

.file-card{
  border-radius: 12px;
}

.dialog-container{
  overflow-y: scroll !important;
  height: 95vh!important;
}

.mat-progress-spinner{
  margin-top: 5rem;
  display: inline-block !important;
}
