<div class="text-center mb-4">
  <h4 class="card-heading m-t-24"><b>Sign In To Lampoykkonen</b></h4>
</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="mb-3 email-field">
    <label class="form-label" for="email"><strong class="form_label">Email</strong></label>
    <input aria-describedby="email" class="input-grey" id="email" type="email" formControlName="email">
    <app-input-error [form]="loginForm" field="email" [msg]="errors.email"></app-input-error>
  </div>
  <div class="mb-3 password-field">
    <label class="form-label d-flex justify-content-between" for="password"><strong class="form_label">Password</strong></label>
    <input class="input-grey" id="password" type="password" formControlName="password">
    <app-input-error [form]="loginForm" field="password" [msg]="errors.password"></app-input-error>
  </div>


  <button mat-raised-button class="btn-blue-full" type="submit">Continue</button>

  <div class="m-t-16 m-b-16">
    <div class="row"><div class="col align-self-center"><hr></div><div class="col-auto align-self-center">OR</div><div class="col align-self-center"><hr></div></div>
  </div>

  <a href="#" class="btn btn-flex flex-center btn-light btn-lg w-100 mb-3">
    <img alt="Logo" src="/assets/google.png" class="h-20px me-3">Continue with Google</a>

  <a href="#" class="btn btn-flex flex-center btn-light btn-lg w-100 mb-3">
    <img alt="Logo" src="/assets/facebook.png" class="h-20px me-3">Continue with Facebook</a>


</form>
