@import '~@nebular/theme/styles/global/breakpoints';

.menu-sidebar{
  //background-color: #0b2582;
  background-color: #112047;
}

.menu-sidebar ::ng-deep .scrollable {
  padding: 0!important;
}

*{
  font-size: 1.1rem;
}
